<div class="container" style="margin-top:30px">
        <div class="row" style="margin-bottom:10px">
            <h4>Hello! Mr. Davis, we are at your service</h4>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">Active Issues</div>
                    <div class="card-body">3 active issues</div>
                    <div class="card-footer"><a routerLink="/issueView" routerLinkActive="active">Goto Issue Page</a></div>             
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">Pending Documents</div>
                    <div class="card-body">2 pending documents</div>
                    <div class="card-footer"><a routerLink="/issueView" routerLinkActive="active">Goto Document Page</a></div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">New Notices</div>
                    <div class="card-body">0 new notices</div>
                    <div class="card-footer">
                        <div><a routerLink="/noticeView" routerLinkActive="active">Goto Notice Page</a></div>
                        <div><a routerLink="/noticeCreate" routerLinkActive="active">Create Notice</a></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">New Messages</div>
                    <div class="card-body">0 new messages</div>
                    <div class="card-footer"><a routerLink="/messageView" routerLinkActive="active">Goto Message Page</a></div>
                </div>
            </div>
        </div>
</div>